<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <th:block th:include="fragments/header :: head"></th:block>
        <link rel="shortcut icon" href="http://faviconka.ru/ico/faviconka_ru_1463.ico" type="image/x-icon">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <main role="main" class="container">
<!--            <h1 class="mt-5" th:text="#{app.name}"></h1>-->
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
        <div th:replace="fragments/footer :: script"></div>
    </body>
</html>