<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Admin panel</title>
    <link rel="shortcut icon" href="http://faviconka.ru/ico/faviconka_ru_1463.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark shadow ">
        <div th:object="${user}">
            <a class="navbar-text text-white font-weight-bold" th:text="${user.getEmail()}"> </a>
            <a class="navbar-text text-white"
               th:text=" ' with roles : ' "></a>
            <a>
                <th:block th:each="role : ${user.getRoles()}">
                    <a class="navbar-text text-white font-weight-bold" th:text="${role.getRole()} ">,</a>
                </th:block>
            </a>
        </div>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p></p>
            <div class="btn-group-vertical btn-block">
                <button class="btn btn-primary pl-3 text-left" type="button">
                    <a class="text-light ">Admin </a>
                </button>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <a href="/profile" class="card-link pl-3 mb-10 py-3 ">User</a>
            </div>
        </div>
        <div class="col-md-10 vh-100 bg-light">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Admin panel</h1>
            </div>
            <div class="row">
                <div class="card-header bg-white mb-10 py-3 mx-md-3 border">
                    <h5>Users table</h5>
                </div>
                <a href="/users1/add" class="card-link mb-10 py-3 ">New User</a>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>All users</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="h5">ID</th>
                            <th class="h5">First Name</th>
                            <th class="h5">Last Name</th>
                            <th class="h5">Email</th>
                            <th class="h5">Login</th>
                            <th class="h5">Password</th>
                            <th class="h5">Role</th>
                            <th class="h5">Edit</th>
                            <th class="h5">Delete</th>
                        </tr>
                        </thead>

                    </table>

                    <table class="table table-striped" id="tableUserList">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.getJSON('/users3', function (json) {
            let tr = [];
            for (let i = 0; i < json.length; i++) {
                tr.push('<tr>');
                tr.push('<td id=' + json[i].id + '>' + json[i].id + '</td>');
                tr.push('<td name=' + json[i].name + '>' + json[i].name + '</td>');
                tr.push('<td password=' + json[i].password + '>' + json[i].password + '</td>');
                tr.push('<td roles=' + json[i].roles.map(role => role.role) + '>' + json[i].roles.map(role => role.role) + '</td>');
                tr.push('<td id ='+"edit" + json[i].id + '><button type="button" class="btn-primary" data-toggle="modal" data-target="#myModal" id='+"edit" + json[i].id + '>UPDATE</button>&nbsp;&nbsp;<button class=\'delete\' id=' + json[i].id + '>Delete</button></td>');
                tr.push('</tr>');
            }
            $("#tableUserList").append($(tr.join('')));
        });
        $(document).delegate('button[id^=edit]', 'click',function () {
            let atrId = $(this).parent().prev().prev().prev().prev().attr("id");            //id
            let atrName = $(this).parent().prev().prev().prev().attr("name");               //name
            let atrPassword = $(this).parent().prev().prev().attr("password");              //password
            $('input[name=id]').prop("value", atrId);
            $('input[name=name]').prop("value", atrName);
            $('input[name=password]').prop("value", atrPassword);
            $("#myModalBox").modal('show');
        });
        $(document).delegate('.delete', 'click', function () {
            if (confirm('Do you really want to delete  User with id ?')) {
                let id = $(this).parent().prev().prev().prev().prev().attr("id");
                let parent = $(this).parent().parent();
                $.ajax({
                    method: "DELETE",
                    url: "/api/users3/"+id,
                    cache: false,
                    success: function () {
                        parent.fadeOut('slow', function () {
                            $(this).remove();
                        });
                        location.reload(true)
                    },
                    error: function () {
                        $('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function () {
                            $(this).remove();
                        });
                    }
                });
            }
        });
        $('#addUser').submit(function () {
            $.post(
                '/api/users3',                                    // адрес обработчика
                $("#addUser").serialize(),              // отправляемые данные
                function (msg) {                        // получен ответ сервера
                    document.location.href = msg;
                }
            );
            return false;
        });
// -->Редактирование пользователя:
        $('#modal_close').click(function () {
            $.get(
                '/api/users3',                              // адрес обработчика
                $('#editUser').serialize(),               // отправляемые данные
                function (msg) {                          // получен ответ сервера
                    document.location.href = msg;
                }
            );
            return false;
        });
        $.ajax({
            method: "GET",
            url: "/api/userRole/",
            cache: false,
            success: function (msg) {
                // alert(msg);v-pills-tabContent
                if(msg=="USER") {
                    document.getElementById("v-pills-home-tab").setAttribute('aria-selected', "false");
                    document.getElementById("v-pills-profile-tab").setAttribute('aria-selected', "true");
                    document.getElementById("v-pills-home-tab").style.display = 'none';
                    document.getElementById("v-pills-profile-tab").style.display = 'block';
                }
            },
        });
    });
</script>


<!-- *************************************************************************-->
<!-- *****************        модалка в нужном формате                ********-->
<!--**************************************************************************-->
<!--<SCRIPT>-->
<!--    $(document).ready(function () {-->

<!--        $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {-->

<!--            var data_id = '';-->

<!--            if (typeof $(this).data('id') !== 'undefined') {-->

<!--                data_id = $(this).data('id');-->
<!--            }-->

<!--            $('#my_element_id').val(data_id);-->

<!--            var data_firstname = '';-->

<!--            if (typeof $(this).data('firstname') !== 'undefined') {-->

<!--                data_firstname = $(this).data('firstname');-->
<!--            }-->

<!--            $('#my_element_firstname').val(data_firstname);-->

<!--            const firstNameEdit = #my_element_firstname;-->
<!--        })-->
<!--    });-->

<!--    //-->
<!--    // $('#myModal').on('show.bs.modal', function (event) {-->
<!--    //     const button = $(event.relatedTarget);-->
<!--    //     const firstNameEdit = button.data('firstname');-->
<!--    //     const lastNameEdit = button.data('lastname');-->
<!--    //     const emailEdit = button.data('email');-->
<!--    //     const loginEdit = button.data('login');-->
<!--    //     const passwordEdit = button.data('password');-->
<!--    //     const roleEdit = button.data('roles');-->
<!--    //     const modal = $(this);-->
<!--    //-->
<!--    //     modal.find('#firstNameEdit').val(firstNameEdit);-->
<!--    //     modal.find('#lastNameEdit').val(lastNameEdit);-->
<!--    //     modal.find('#loginEdit').val(loginEdit);-->
<!--    //     modal.find('#passwordEdit').val(passwordEdit);-->
<!--    //     modal.find('#emailEdit').val(emailEdit);-->
<!--    //     modal.find('#roleEdit').val(roleEdit);-->
<!--    // })-->

<!--</SCRIPT>-->



<!--<div>-->
<!--    <label class="col-form-label"-->
<!--           for="thingOne"><strong>Thing One</strong></label>-->
<!--    <input class="form-control" id="thingOne"-->
<!--           name="thing_one"-->
<!--           value="thing One"-->
<!--           disabled-->
<!--           type="text">-->
<!--    <br>-->
<!--    <form>-->
<!--        <input type="button" value="Show date & time"-->
<!--               onclick="showTime()">-->
<!--    </form>-->

<!--</div>-->

<!--<script type="text/javascript">-->
<!--    let d = new Date();-->
<!--    var showTime = function() {-->
<!--        document.getElementById('content').innerHTML = "<h1>Today’s date is " + d + "</h1>";-->
<!--    }-->

<!--    //     $(document).ready(function () {-->
<!--    //     showTime();-->
<!--    //     setInterval('showTime()', 1000);-->
<!--    // });-->

<!--</script>-->


<!-- *************************************************************************-->
<!-- *****************        тестовый скрипт                         ********-->
<!--**************************************************************************-->

<!--<script type="text/javascript">-->
<!--    var prefix = '/users';-->

<!--    var RestGet = function() {-->
<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url:'/api/users',-->
<!--            // url:  prefix + '/' + Date.now(),-->
<!--            dataType: 'json',-->
<!--            async: true,-->
<!--            success: function(result) {-->
<!--                alert('Время: ' + result.time-->
<!--                    + ', сообщение: ' + result.message);-->
<!--            },-->
<!--            error: function(jqXHR, textStatus, errorThrown) {-->
<!--                alert(jqXHR.status + ' ' + jqXHR.responseText);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    var RestPut = function() {-->
<!--        var JSONObject= {-->
<!--            'time': Date.now(),-->
<!--            'message': 'Это пример вызова PUT метода'-->
<!--        };-->

<!--        $.ajax({-->
<!--            type: 'PUT',-->
<!--            url:  prefix,-->
<!--            contentType: 'application/json; charset=utf-8',-->
<!--            data: JSON.stringify(JSONObject),-->
<!--            dataType: 'json',-->
<!--            async: true,-->
<!--            success: function(result) {-->
<!--                alert('Время: ' + result.time-->
<!--                    + ', сообщение: ' + result.message);-->
<!--            },-->
<!--            error: function(jqXHR, textStatus, errorThrown) {-->
<!--                alert(jqXHR.status + ' ' + jqXHR.responseText);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    var RestPost = function() {-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url:  prefix,-->
<!--            dataType: 'json',-->
<!--            async: true,-->
<!--            success: function(result) {-->
<!--                alert('Время: ' + result.time-->
<!--                    + ', сообщение: ' + result.message);-->
<!--            },-->
<!--            error: function(jqXHR, textStatus, errorThrown) {-->
<!--                alert(jqXHR.status + ' ' + jqXHR.responseText);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    var RestDelete = function() {-->
<!--        $.ajax({-->
<!--            type: 'DELETE',-->
<!--            url:  prefix + '/' + Date.now(),-->
<!--            dataType: 'json',-->
<!--            async: true,-->
<!--            success: function(result) {-->
<!--                alert('Время: ' + result.time-->
<!--                    + ', сообщение: ' + result.message);-->
<!--            },-->
<!--            error: function(jqXHR, textStatus, errorThrown) {-->
<!--                alert(jqXHR.status + ' ' + jqXHR.responseText);-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->



<!--<h3>Это простой пример использования REST c помощью Ajax</h3>-->

<!--<button type="button" onclick="RestGet()">Метод GET</button>-->
<!--<button type="button" onclick="RestPost()">Метод POST</button>-->
<!--<button type="button" onclick="RestDelete()">Метод DELETE</button>-->
<!--<button type="button" onclick="RestPut()">Метод PUT</button>-->
<!--<button type="button" onclick="showTime()">Show Time</button>-->

<!--<div id="content">-->
<!--    <h1>Test content is</h1>;-->
<!--</div>-->


<!--<h3> Для доставания родей из массива</h3>-->
<!--// userJson.then(user => {-->
<!--//     user.forEach(roles => {-->
<!--//         roles.forEach(role => {-->
<!--//             if (user.role.id === role.id)-->
<!--//                 modal.find('#role').append(new Option(role.name, role.id, false, true));-->
<!--//             else-->
<!--//                 modal.find('#role').append(new Option(role.name, role.id));-->
<!--//         });-->
<!--//     });-->
<!--// });-->

<!--// rolesJson.then(roles => {-->
<!--//     roles.forEach(role => {-->
<!--//         if (user.role.id == role.id)-->
<!--//             modal.find('#role').append(new Option(role.name, role.id, false, true));-->
<!--//         else-->
<!--//             modal.find('#role').append(new Option(role.name, role.id));-->
<!--//     });-->
<!--// });-->


</body>
</html>